.task_card {
    width: 100%;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 24px;
}

.task_text {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
}

.task_card_bottom_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task_delete {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    justify-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.delete_icon{
 width: 25px;
 height: 25px;
 opacity: 50%;
}
.task_delete:hover{
    background-color: #ebebeb;
}
.card_data_cover {
    display: flex;
    justify-content: space-between;
}

.card_data {
    display: flex;
}