.app_header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dcdcdc;
}

.app_header>form {
    width: 40%;
}

.task_input {
    font-size: 16px;
    font-weight: 500;
    background: #f9f9f9;
    color: #000;
    border: 1px solid #dfe3e6;
    border-radius: 4px;
    padding: 8px 12px;
    margin-bottom: 15px;
    width: 95%;
}
.task_input::placeholder{
    color: red;
}

.task_form_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.task_status {
    font-size: 16px;
    font-weight: 500;
    width: 200px;
    height:28px;
    background-color: #f9f9f9;
    border: 1px solid #dfe3e6;
    border-radius: 5px;
    padding: 5px 0;
}

.task_submit {
    font-size: 16px;
    font-weight: 500;
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    height: 40px;
    padding: 3px 13px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}