*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    display: grid;
    grid-template-rows: 60px auto;
}
.app_main{
    display: flex;
    justify-content: space-between;
    padding: 20px 8%;
}
.highlight{
     text-align: center; 
     padding-top: 10px;
}